$black: #000;
$white: #fff;

$primary: #252525;
$red_second: #e5493a;

$color-text2: #555555;
$color_text1: #707070;
$circle_bg: #363636;
$icon_bg: #636363;
$color_title: #636363;

$works_bg: #202020;
$color_line: #504e4e;
$works_text: #464646;
$discription_color: #959595;
$responsive_text: #464646;

$thirty: #8dc63f