

.advanteges_title {
  @include visually-hidden;
}

.advanteges_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 30px;
  padding-top: 65px;
  padding-bottom: 50px;
  }

.advanteges_item {
  margin: 15px 0;

  &:hover {
    .advanteges_img {
      border-color: $red_second;
    }

    .advanteges_svg {
      fill: $red_second;
    }

    .advanteges_subtitle {
      color: $red_second;
    }

    .advanteges_text {
      color: $white;
    }
  }
}

.advanteges_img {
  border: 1px solid $circle_bg;
  border-radius: 50%;
  position: relative;
  width: 104px;
  height: 104px;
  transition-duration: 500ms;
  transition-property: border-color;
}

.advanteges_svg {
  position: absolute;
  left: 50%;
  top: 50%;
  fill: $icon_bg;
  height: 40px;
  transform: translate(-50%, -50%);
  transition-duration: 500ms;
  transition-property: fill;
}

.advanteges_subtitle {
  font-size: 18px;
  font-family: 'Raleway';
  color: $color_title;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.111;
  margin: 20px 0;
  transition-duration: 500ms;
  transition-property: color;
}

.advanteges_text {
  font-size: 14px;
  font-family: 'Raleway';
  color: $color-text2;
  font-weight: 800;
  line-height: 1.429;
  margin: 20px 0;
  transition-duration: 500ms;
  transition-property: color;

  &::after {
    background-color: $red_second;
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin-top: 20px;
  }
}

@media (max-width: 489px) {
  .advanteges_list {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .advanteges_item {
    text-align: center;
  }

  .advanteges_img {
    margin: 0 auto;
  }
}
